<!DOCTYPE html>
<html>
<head>
  <title>PostIt</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
		<nav>
			<%= link_to "Home", root_path %>

			<%= link_to "New post", new_post_path %>
			
			<%= mail_to "rhing@outlook.com", "Contact" %>
		</nav>
	</header>

	<% flash.each do |key, value| %>
		<div class="<%= key %>">
		<p><%= value %></p>
		</div>
	<%end%>

	<%= yield %>

</body>
</html>
